<h2 class="text-white">SGEscolares</h2>
<hr class="text-white">

<ul class="list-group">
    <li class="list-group-item" routerLink="alumnos" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact : true}">

    Alumnos
    </li>

    <li  class="list-group-item" routerLink="carreras" 
    routerLinkActive="active">

    Carreras
    </li>

    <li class="list-group-item" routerLink="maestros"
    routerLinkActive="active">
    
    Maestros
    </li>

    <li class="list-group-item" routerLink="materias"
    routerLinkActive="active">
    
    Materias
    </li>

</ul>