<h2 class="text-white">Carreras</h2>

<hr class="text-white">

<form>
  <div class="form-group text-white">
    <label for="">Nombre_Carrera:</label>
    <input type="text" class="form-control" id="" name="" placeholder="">
  </div>

  <div class="form-group text-white">
    <label for="">Nom_Corto:</label>
    <input type="text" class="form-control" id="" placeholder="">
  </div>

  <div class="form-group text-white">
    <label for="">Nom_Abreviado:</label>
    <input type="text" class="form-control" id="" placeholder="">
  </div>
  
  <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Aceptar</button>
</form>

<hr class="text-white">

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre_Carrera</th>
        <th scope="col">Nom_Corto</th>
        <th scope="col">Nom_Abreviado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    
      </tr>
    </tbody>
  </table>

<hr class="text-white">
